<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <servlet-class>ShowRequestHeaders</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <url-pattern>/showRequestHeaders</url-pattern>
    </servlet-mapping>
</web-app>